.container {
    display: grid;
    justify-items: center;
}

.searchbar_form {
    height: 4.5rem;
}

.searchbar-all {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: .15rem solid #F6E726;
    border-radius: 1rem;
    padding: .2rem;
}

.searchbar-all input[type='text'] {
    width: 70%;
    font-size: 1rem;
    border: none;
}

.searchbar-all input[type='text']::placeholder {
    color: #C9E5E7;
    font-weight: bold;
    outline: none;
}

.searchbar-all input[type='text']:focus {
    outline: none;
}

.search-btn button {
    position: relative;
    padding: 0.5rem .8rem;
    border: none;
    background: #FFFFFF;
    cursor: pointer;
    font-size: 1rem;
}