.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FEFEFE;
}

/* 
#F6E726 - Titanium Yellow
#FEFEFE - White
#0D1E2B - Rich Balck
#D8EAE5 - Azure
*/

/* 
GAME - IBM Plex Sans
GAME - Archivo Narrow
GAME - Libre Franklin
GAME - Syne
GAME - Inter
GAME - Emblema One
GAME - Syncopate // 
GAME - ANTON // 
GAME - ROBOTO // 
GAME - Chivo
*/