.search_bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.search_bar select {
    margin-right: 2rem;
    min-width: 6rem;
    padding: 0.5rem 2rem;
    border: none;
    background: #FFFFFF;
    color: #FCA311;
    border-radius: 1rem;
    border: 2px solid #FCA311;
    font-weight: bold;
    cursor: pointer;
}

select.active {
    background: #FCA311;
    color: #FFFFFF;    
}

.search_bar button {
    margin-right: 2rem;
    min-width: 5rem;
    padding: 0.5rem 1rem;
    border: none;
    background: #FFFFFF;
    color: #FCA311;
    border-radius: 1rem;
    border: 2px solid #FCA311;
    font-weight: bold;
    cursor: pointer;
}

button.active {
    background: #FCA311;
    color: #FFFFFF;
}

.searchbar_form input {

}