.submit_btn {
    margin: 2rem 1rem;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    color: black;
    background: white;
	border: .1rem solid black;
	box-shadow: 
        2px 2px 0 rgb(32, 32, 32),
		-2px -2px 0 rgb(32, 32, 32),
		-2px 2px 0 #C9E5E7,
		2px -2px 0 #D8EAE5;
	transition: 350ms ease-in-out;
}

.submit_btn:hover {
    box-shadow: 
    12px 3px 0 black, 
    -12px -3px 0 #D8EAE5;
    background-color: #F6E726;
}

.form_section {
    display: flex;
    row-gap: 2rem;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    margin: auto;
    width: 80%;
    align-items: center;
}

.form_section h1 {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform:uppercase;
    margin-bottom: 1rem;
    background-image: linear-gradient(to right, #f6e726, #ccf270, #b5f5a8, #b9f2d1, #d8eae5);
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0 88%;
}

.form_section label {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, #f6e726, #ccf270, #b5f5a8, #b9f2d1, #d8eae5);
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0 88%;
}

.form_section input:focus {
    border: 2px solid #F6E726;
}

.form_section textarea {
    text-align: center;
    height: 10rem;
    width: 100%;
    line-height: 150%;
    resize: vertical;
    background-color: transparent;
    border: 2px solid #D8EAE5;
}

.form_section textarea:focus {
    outline: none;
    border: 2px solid #F6E726;
}

.areas_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.areas_form input {
    width: 40rem;
    text-align: center;
    color: #0D1E2B;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 2%;
    background-color: transparent;
    border: 2px solid #D8EAE5;
    padding: 1rem;
    width: 110%;
    box-sizing: border-box;
    outline: none;
}

.platforms_container,
.genres_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    row-gap: 1.5rem;    
    padding-top: 1rem;
}

.input_checkbox {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    width: 12rem; 
    align-items: center;
    justify-content: center;
}

.input_checkbox input[type=checkbox] {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #0D1E2B;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #0D1E2B;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
}

.input_checkbox span {
    padding-left: .5rem;
    font-size: 1rem;
    font-weight: 400;
}

.input_display {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 22rem;
    border-radius: 5%;
    padding: 1rem;
    background-color: #D8EAE5B9;
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
}